.timerSettings {
    position: fixed; 
    right: 1rem;
    top: 1rem;
  }
  
  .dialogMainBox {
    min-width: 400px;
    min-height: 600px;
    max-width: 90vw;
    max-height: 90vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
  }